body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'PT Mono', monospace;
    background-color: black;
    background-image: url("https://i.imgur.com/4RhS4uj.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    
main {
    background-color: black;
    color: springgreen;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 5px dashed white;
    }

#greeting_p {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    }
#username {
    color: white;
    font-weight: 700;
    letter-spacing: .15em;
    }
    
.results {
    color: black;
    margin-left: 45%;
    margin-right: 45%;
    padding: 10px;
    background-color: lawngreen;
    font-weight: 700;
    }
    
input[type=text] {
    background-color: lawngreen;
    font-family: 'VT323', monospace;
    border-style: none;
    font-size: 1.5em;
    padding: 10px;
    letter-spacing: .08em;
    }
    
input[type=number] {
    background-color: lawngreen;
    padding: 10px;
    border-style: none;
    font-weight: 700;
    font-family: 'PT Mono', monospace;
    }

select {
    background-color: lawngreen;
    padding: 10px; 
    border-style: none;
    text-align: center;
    font-weight: 700;
    font-family: 'PT Mono', monospace;
    }

input[type=submit] {
    background-color: transparent;
    font-size: 2em;
    padding: 15px 20px;
    color: lawngreen;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'VT323', monospace;
    letter-spacing: .08em;
    }
    
/* This removes the arrows for the number area for most browsers*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

/* This removes the arrows for the number area for Firefox*/
input[type=number] {
    -moz-appearance:textfield;
    }

#back_button {
    background-color: black;
    color: lawngreen;
    padding: 10px 20px;
    border-radius: 27px;
    text-decoration: none;
    margin-top: 10%;
    }